* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --title-color: hsla(36, 55%, 12%, 1);
  --primary-color: hsla(36, 100%, 57%, 1);
  --second-color: hsla(36, 94%, 79%, 1);
  --body-color: hsla(0, 0%, 98%, 1);
  --background-color: hsla(0, 0%, 100%, 1);
  --text-color: hsla(0, 0%, 46%, 1);
}

body {
  font-family: 'DM Sans', sans-serif;
  background: var(--body-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

img {
  width: 100%;
  height: auto;
}

#header {
  border-bottom: 1px solid #E4E4E4;
}

nav {
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--title-color);
  font: bold 1.31rem 'Poppins', sans-serif;
}

.logo span {
  color: var(--primary-color);
}

.container {
  width: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section {
  padding: 5rem 0;
}

h1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}