* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

:root {
}

#header {
  height: 4.5rem;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {

}

.container {
  width: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

section {
  font-family: 'DM Sans', sans-serif;
}
