* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --title-color: hsla(36, 55%, 12%, 1);
  --primary-color: hsla(36, 100%, 57%, 1);
  --primary-color-alt: hsla(25, 90%, 57%, 1);
  --second-color: hsla(36, 94%, 79%, 1);
  --body-color: hsla(0, 0%, 98%, 1);
  --background-color: hsla(0, 0%, 100%, 1);
  --text-color: hsla(0, 0%, 46%, 1);
  --text-color-light: hsla(0, 0%, 98%, 1);
}

body {
  font-family: 'DM Sans', sans-serif;
  background: var(--body-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

#header {
  border-bottom: 1px solid #E4E4E4;
}

nav {
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--primary-color);
  color: var(--text-color-light);
  height: 3.5rem;
  padding: 14px 32px 15px 32px;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem  "DM Sans", sans-serif;
  transition: background 0.3s;
}

.button:hover {
  background: var( --primary-color-alt);
}

.logo {
  color: var(--title-color);
  font: bold 1.31rem 'Poppins', sans-serif;
}

.logo span {
  color: var(--primary-color);
}

.container {
  width: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: 5rem 0;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--second-color);
  position: absolute;
  top: -16.8%;
  right: -16.7%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 2.93rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}